@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #343e4b;
  font-family: "Montserrat", sans-serif;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  position: relative;
  display: flex;
  min-width: 701px;
  max-width: 701px;
  width: 50%;
  height: 400px;
}

.app__container--left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  background: rgb(64, 64, 233);
  width: 300px;
  transform: scale(1.02);
  border-radius: 40px;
}

.img-meteo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 40px;
  z-index: -9;
  object-fit: cover;
}

.gradiant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  /*background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);*/
  z-index: -8;
  opacity: 0.7;
}

.container-current-date {
  display: flex;
  flex-direction: column;
}

.container-current-date p {
  font-weight: bold;
  font-size: 30px;
}

.container-current-date span {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 13px;
  margin-top: 10px;
}

.container-current-date img {
  margin-right: 4px;
  width: 18px;
}

.container-weather-temp {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.container-weather-temp .temp {
  font-size: 59px;
}

.app__container--right {
  background: #222931;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 30px 30px 30px 330px;
}

.container__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
}

.container__infos p {
  font-weight: bold;
}

.container__previsions {
  display: flex;
  background: #343e4b;
  margin-top: 40px;
  border-radius: 9px;
  height: 120px;
}

.bloc-prevision {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition: all 0.2s ease;
}

.bloc-prevision i {
  font-size: 26px;
}

.bloc-prevision:hover {
  background: #fff;
  border-radius: 9px;
  transform: scale(1.12);
  color: #000;
  cursor: pointer;
}

.active {
  background: #fff;
  border-radius: 9px;
  transform: scale(1.02);
  color: #000;
}

.bloc-prevision img {
  width: 30px;
  height: 30px;
}

.bloc-prevision span {
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  border-radius: 999px;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 36px;
  margin-top: 26px;
}

button:hover {
  cursor: pointer;
}

button img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

@media screen and (max-width: 716px) {
  .app {
    flex-direction: column;
    min-width: 90%;
    height: auto;
    margin-bottom: 36px;
  }

  main {
    height: auto;
  }

  .app__container--left {
    position: static;
    width: 100%;
    transform: translateY(36px);
    margin-bottom: 36px;
  }

  .app__container--right {
    padding: 50px 30px 30px;
  }
}

/* loader css */
.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #343e4b;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.end-load {
  opacity: 0;
}
